{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}" type="image/x-icon">
  <title>Bellafly</title>
</head>

<body>
  <header>
    🦋 Bellafly 🦋 
  </header>
  <nav style="text-align:center; margin:20px 0;">
    <a class="btn {% if categoria == 'todos' %}active{% endif %}" href="?categoria=todos">Todos</a>
    <a class="btn {% if categoria == 'roupas' %}active{% endif %}" href="?categoria=roupas">Roupas</a>
    <a class="btn {% if categoria == 'conjuntos' %}active{% endif %}" href="?categoria=conjuntos">Conjuntos de Roupas</a>
    <a class="btn {% if categoria == 'kits' %}active{% endif %}" href="?categoria=kits">Kits de Beleza</a>
    <a class="btn {% if categoria == 'perfumaria' %}active{% endif %}" href="?categoria=perfumaria">Perfumaria</a>
  </nav>
  <section class="products">
    {% for produto in produtos %}
      {% if produto.ativo == True %}
        <div class="card">
          <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }} image">
          <h2>{{ produto.nome }}</h2>
          <p>{{ produto.descricao }}</p>
          <div class="price">R$ {{ produto.preco }}</div>
          <div class="price">Disponível: {{ produto.quantidade_estoque }}</div>
          <a class="btn" href="https://wa.me/557981718236?text=Olá,+tenho+interesse+no+{{ produto.nome }}" target="_blank">Comprar pelo WhatsApp</a>
        </div>
      {% endif %}
    {% empty %}
      <div style="text-align:center; width:100%;">Nenhum produto encontrado nesta categoria.</div>
    {% endfor %}
  </section>
  <footer>
    <a class="btn" href="{% url 'admin:index' %}" target="_blank">Login</a>
  </footer>
</body>
</html>